*{
    padding: 0;
    margin: 0;
}

div{
    text-align: center;
    line-height: 50px;
}
.playBtn{
    height: 40px;
    width: 130px;
    background-color: darkgreen;
    color: white;
    border: 0px none ;
    border-radius: 5px;
    font-size:21px;
}