*{
    padding: 0;
    margin: 0;
}

/* div{
    text-align: center;
    line-height: 50px;
} */
.header{
        position: fixed;
        /* display: none; */
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #000;
        z-index: 2;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      
      .text{
    
        font-size: 21px;
        color: white;
        margin-bottom: 1rem;

      }

    .playBtn{
        height: 40px;
        width: 130px;
        background-color: darkgreen;
        color: white;
        border: 0px none ;
        border-radius: 25px;
        font-size:21px;
    }
/*
.question{

}
.mcqOption{
    margin: 18px;
} */